<div class="mainDiv">
  <div>
    <h4>My Account</h4>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <mat-nav-list>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Orders
            </mat-expansion-panel-header>
            <div  >
              <a mat-list-item id="category">orders</a>

            </div>
          </mat-expansion-panel>
        </mat-nav-list>
        <mat-nav-list>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Account
            </mat-expansion-panel-header>
            <div>
              <button id="navbtn" routerLink="myaccount">Profile</button>
              <button id="navbtn" routerLink="myaccount">Addresses</button>
            </div>
          </mat-expansion-panel>
        </mat-nav-list>

      </div>
      <div class="col-md-9">
        <form [formGroup]="addnewAddress">
          <mat-card>
            <h3>{{heading}}</h3>
            <table>
              <tr>
                <td>
                  <mat-form-field appearance="outline" style="height:30%">
                    <mat-label>
                      Address

                    </mat-label>
                    <input matInput placeholder="Address" id="address" formControlName="address" required />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>
                      Pincode
                    </mat-label>
                    <input matInput placeholder="Pincode" id="pincode" formControlName="pincode" required />

                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>
                      City
                    </mat-label>
                    <input matInput placeholder="city" id="city" formControlName="city" required />
                  </mat-form-field>
                </td>
                <td style="margin-left:4%;">
                  <mat-form-field appearance="outline">
                    <mat-label>
                      state
                    </mat-label>
                    <input matInput placeholder="state" id="state" formControlName="state" required />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <mat-form-field appearance="outline">
                    <mat-label>
                      Country
                    </mat-label>
                    <input matInput placeholder="country" id="country" formControlName="country" required />
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <td>
                  <hr style="width:100%">
                </td>
              </tr>
              <tr>
                <td>
                  <button mat-raised-button [disabled]="!addnewAddress.valid" (click)="submitAddress()">
                    <mat-icon>save</mat-icon>
                    Save
                  </button>
                </td>
                <td>
                  <button mat-raised-button>
                    <mat-icon>close</mat-icon>
                    Cancel
                  </button>
                </td>
              </tr>
            </table>
          </mat-card>
        </form>

      </div>

    </div>

  </div>
</div>
