/* .nav-link{
    margin-left: 150pxpx;
}
.nav-item{
    margin-left:150px;
} */

.mat-toolbar {
  background-color: black;
}

.mat-button .mat-button-wrapper
{
  vertical-align: middle;
  color: white;
  font-size: 20px;
}
.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }