<mat-toolbar class="mat-toolbar mat-toolbar-single-row"><span routerLink="Dashboard" routerLinkActive="active"
    style="cursor: pointer ; text-decoration: none; outline-color: transparent" tabindex="0">
    <span style="font-size: 40px;color: white;">Neo</span>
    <span style="color:red;font-size: 40px"><b>STORE</b></span>
  </span>
  <div style="align-content:center;margin-left: auto;margin-right: auto;">
    &nbsp;&nbsp;&nbsp;
    <button id="navBtn" class="mat-button">
      <span class="mat-button-wrapper" routerLink="productList" routerLinkActive="active">Products</span>
      <div class="mat-button-ripple mat-ripple"></div>
      <div class="mat-button-focus-overlay"></div>
    </button>&nbsp;&nbsp;&nbsp;
    <button id="navBtn" class="mat-button" (click)="redirectToOrder()">
      <span class="mat-button-wrapper" routerLink="order" routerLinkActive="active">Order</span>
      <div class="mat-button-ripple mat-ripple"></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
  </div>
  <br /><input id="search" placeholder="Search.." type="text" autocomplete="off" role="combobox"
    aria-autocomplete="list" aria-expanded="false" aria-haspopup="true"
    class="ng-untouched ng-pristine ng-valid" />&nbsp;
  <mat-autocomplete class="mat-autocomplete">

  </mat-autocomplete>
  <button id="button1" class="mat-raised-button" routerLink="cart" routerLinkActive="active">
    <span class="mat-button-wrapper">
      <mat-icon aria-hidden="false"
        class="mat-badge mat-icon notranslate mat-badge-warn material-icons mat-badge-overlap mat-badge-above mat-badge-after mat-badge-medium mat-icon-no-color"
        id="icon" matbadgecolor="warn" role="img">shopping_cart<span id="mat-badge-content-0"
          class="mat-badge-content mat-badge-active">{{cartCount}}</span></mat-icon>
      &nbsp;Cart
    </span>
    <div class="mat-button-ripple mat-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </button>&nbsp;&nbsp;

  <button id="button1" class="mat-raised-button" [matMenuTriggerFor]="menu">
    <span class="mat-button-wrapper fill-remaining-space">
      <img class="img " style="height:20px;width:20px;" src="../../assets/images/profile-placeholder.png" />
      <mat-icon aria-hidden="false" class="mat-icon notranslate material-icons mat-icon-no-color" id="icon" role="img">
        keyboard_arrow_down</mat-icon>
    </span>

    <!-- <div class="mat-button-ripple mat-ripple" matripple=""></div>
  <div class="mat-button-focus-overlay"></div> -->
  </button>

  <mat-menu #menu="matMenu" [overlapTrigger]="false">
    <div (login)="onLogin($event)">
      <div *ngIf="show; else notshow">
        <button mat-menu-item>
          <span routerLink="myaccount" routerLinkActive="active">Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <span>Logout</span>
        </button>
      </div>
    </div>
    <ng-template #notshow>

      <button mat-menu-item>
        <span routerLink="login" routerLinkActive="active">Login</span>
      </button>
      <button mat-menu-item>
        <span routerLink="register" routerLinkActive="active">Register</span>
      </button>

    </ng-template>
  </mat-menu>



</mat-toolbar>
