/* footer {
  background-color: #000000;
  color: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 250px;
  width: 100px;
  overflow: hidden;
} */

.footer {
  background: black;
  font-size: 12px;

  bottom: 0px;
  width: 100%;
  overflow: hidden;
  position: relative;
  left: 0;
    
}
