
 <footer class="footer " > 
   
    <!-- <div class="container text-center" style="background:black ;font-size: 12px;"> -->
      <div >
        <div class=" container text-center" style="margin-top: 50px;color: white"> 
      <div class="row">
        <div class="col-md-4" style="text-align: center;">
          <h3>About Company</h3>
          <div  style="text-align: center;"  *ngFor="let c of companyDetails">
            <p > {{c.about_company}}</p>
            <h6 >Contact information</h6>
            <p > Email: {{c.email}}</p>
            <p >Phone: {{c.phone_no}}</p>
            <p >{{c.address}}</p>
          </div>
        </div>

        <div class="col-md-4" style="text-align:center">
          <h3>Information</h3>
          <ul class="list-unstyled" id="parent"> 
           <!-- <li><a href="./views/info/terms-conditions.html">Terms &amp; Conditions</a></li>
            <li><a href="./views/info/guarantee-return-policy.html">Guarantee &amp; Return Policy</a></li>
            <li><a href="./views/info/contact-us.html">Contact us</a></li>
            <li><a href="./views/info/privacy-policy.html">Privacy Policy</a></li>
            <li><a href="./views/info/locate-us.html">Locate Us</a></li> -->
           
            <li class="text-center" style="color: white;" ><a (click)="getTermsandCondition()" > Terms &amp; Conditions</a></li>
            
            <li class="text-center" style="color: white;"><a (click)="getGuaranteeReturnPolicy()" >Guarantee &amp; Return Policy</a></li>
            <li class="text-center"><a routerLink="ContactUs" routerLinkActive="active">Contact us</a></li>
            <li class="text-center"><a >Privacy Policy</a></li>
            <li class="text-center"><a href="info/locate-us.html">Locate Us</a></li>
          </ul>
        </div>

        <div class="col-md-4 " style="text-align:center">
          <h3 style="text-align:center">Newsletter</h3>
         <form>
            <div>
              <p style="align-content:center;">Sign up to get exclusive offers from our favorite brands and to be well up in the news.</p>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="your email..." />
              </div>
              <button type="button" tooltip="Coming Soon" class="btn btn-default "routerLink="subscribe" routerLinkActive="active" >Subscribe</button>
            </div>
          </form>
        </div>
      </div>
      <div class="row">
          <p class="col-md-8  col-offset-3 text-right" style="text-align:center">Copyright © 2017 NeoSOFT Technologies All rights reserved | Design by <a href="http://www.neosofttech.com/">NeoSOFT Technologies</a></p>
        </div>
    </div>
  </div>
   

 </footer> 
