.mat-card {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 700px;
  height: 300px;
  margin-top: 10%;
  background-color: #f9f9f9;
  position: relative;
  padding: 16px;
  border-radius: 4px;
  margin-bottom: 400px;
}

.mat-label {
  width: 100%;
  position: relative;
  text-align: left;
  padding-right: 42px;

}

.heading {
  margin-left: 6%;
}

.card-content {
  margin-left: 10%;
  margin-right: auto;
  display: block;
  text-align: center;

}

.mat-form-field {
  /* display: inline-block; */
  position: relative;
  text-align: left;
}
