<form name="contactForm">
  <mat-card class="mat-card">


    <div class="card-content">

      <h1 class="heading">
        Recover Password
      </h1>

      <mat-form-field appearance="outline" class="mat-label">
        <mat-label>Email</mat-label>
        <input type="email" matInput placeholder="Placeholder" name="email" id="username" [(ngModel)]="email">

      </mat-form-field>


      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>

      <mat-card-actions>
        <button mat-raised-button (click)="submitContactdetails()" color="primary">Submit</button>
      </mat-card-actions>
    </div>
  </mat-card>
</form>
