

<!-- loader.component.html -->
<!-- <div class="progress-loader" [hidden]="!loading">
    Loading...
</div> -->

<div *ngIf="isLoading | async" class="overlay">
        <mat-progress-spinner class="spinner" [color]="color" [mode]="mode" [value]="value">
        </mat-progress-spinner>
      </div>
      