
    <form name="contactForm">
<mat-card  class="mat-card">
 
  <!-- <mat-card-content class="card-content"> -->
    <div class="card-content">
     <table  >
          <tr>
              <td>
                    <h1><p >Contact Form</p></h1>
              </td>
          </tr>
        <tr>
          <td> 
            <!-- <mat-form-field class="example-full-width" appearance="outline">
              <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
            </mat-form-field> -->
            <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Placeholder"  name="username" id="username"  >
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
        </td>
        </tr>
        <tr> 
          <!-- <td><mat-form-field class="example-full-width">
                <input matInput placeholder="Password" [(ngModel)]="password"type="password" name="password" required>
              </mat-form-field></td> -->
          

     </tr>
        <tr>
          <td> 
            <!-- <mat-form-field class="example-full-width">
              <input matInput placeholder="Email"  name="email" required>
            </mat-form-field> -->
            <mat-form-field appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput placeholder="Placeholder" name="email" id="email" >
                    <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                    <!-- <mat-hint>Hint</mat-hint> -->
                  </mat-form-field>
           </td>
          <tr>
                <td> 
                  <!-- <mat-form-field class="example-full-width">
                    <input matInput placeholder="Mobile Number"  name="mobilenumber" required>
                  </mat-form-field> -->

                  <mat-form-field appearance="outline">
                        <mat-label>Mobile Number</mat-label>
                        <input matInput placeholder="Placeholder" name="mobile" id="mobile" >
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Hint</mat-hint> -->
                      </mat-form-field>
               </td>

        </tr>
        <tr>
                <td> 
                  <!-- <mat-form-field class="example-full-width">
                    <input matInput placeholder="Subject"  name="Subject" required>
                  </mat-form-field> -->

                  <mat-form-field appearance="outline">
                        <mat-label>Subject</mat-label>
                        <input matInput placeholder="Placeholder"  name="subject" id="subject">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Hint</mat-hint> -->
                      </mat-form-field>
          </td>

        </tr>
        <tr>
                <td> 
                  <!-- <mat-form-field class="example-full-width">
                    <input matInput placeholder="Message"  name="message" required>
                  </mat-form-field> -->
                  <mat-form-field appearance="outline">
                        <mat-label>Message</mat-label>
                        <input matInput placeholder="Placeholder"  name="message"  id="message">
                        <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
                        <!-- <mat-hint>Hint</mat-hint> -->
                      </mat-form-field>
                 </td>

        </tr>


      </table> 
    
    <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
  <!-- </mat-card-content> -->
  <mat-card-actions>
    <button mat-raised-button (click)="submitContactdetails()" color="primary">Submit</button>
  </mat-card-actions>
</div>
</mat-card>
</form>

