.formbox {
    border: 2px solid black;
    /* outline: #4CAF50 solid 10px; */
   margin-left: 10%;
    padding: 5px;
    margin-top: 5%;
    margin-right: 10%;
    text-align: center;
  }
  /* .innerForm{
    margin-left: 80px;  
    margin-right: 70px;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 50px;

  } */
  .example-form{
    padding-left: 40%
    

  }
  .card-content{
    margin-left: 25%; 
margin-right: auto; 
  display: block; 
    text-align: center;
    width:50%
}

  .mat-card {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 50%;
    height: 50%;
    margin-top: 70px;
    background-color: #eee;
}