<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 col-lg-6 col-sm-12 col-12 text-center">
      <!-- <img  class="imageID"
       src="{{configUrl}}{{ imageId }}" 
      /> -->
      <pinch-zoom>
      <img  class="imageID" auto-zoom-out="true" 
       src="{{configUrl}}{{ imageId }}" 
      />
      </pinch-zoom>
      <!-- <img id="zoom_02" src="small/image1.png" data-zoom-image="large/{{configUrl}}{{imageId}}
     data-zoom-image="large/image1.jpg"/> -->
      <div class="container-fluid">
        <div class="row">
          <div
            class="col-md-4 col-lg-4  col-sm-12 mt-5"
            *ngFor="let c of productsDetailArray.subImages_id.product_subImages"
          >
            <img
              (click)="LoadImage(c)"
              style="height:90px;width:150px;margin-top:20px;"
              src="{{ configUrl }}{{ c }}"
            />
          </div>

          <!-- <div class="col-md-4">
                <img  style="height:50px;width:100px;margin-left: auto;margin-right: auto;margin-top: 5px"
                src="{{configUrl}}{{this.productsDetailArray.subImages_id.product_subImages[1]}}}">
            </div>
            <div class="col-md-4">
                <img  style="height:px;width:100px;margin-left: auto;margin-right: auto;margin-top: 5px"
                src="{{configUrl}}{{this.productsDetailArray.subImages_id.product_subImages[2]}}}">
            </div> -->
        </div>
      </div>
    </div>
    <div class="col-md-6 col-lg-6 col-sm-12 col-12">
      <div>
        <h3>{{ this.productsDetailArray.product_name }}</h3>
        <star-rating
          value="{{ this.productsDetailArray.product_rating }}"
          checkedcolor="orange"
          uncheckedcolor="black"
          size="15px"
          readonly="true"
          :star-size="4px"
          :increment="0.01"
        ></star-rating>
      </div>
      <hr />

      <span>
        <div>
          <b class="PriceDiv"> price:</b
          ><span>&#8377;{{ this.productsDetailArray.product_cost }}</span>
        </div>
        <div>
          <b class="PriceDiv">Color:</b>
          <!-- <span    [ngStyle]="{'background-color': this.productsDetailArray.color_code}"></span> -->
          <span
            [ngStyle]="{
              'background-color': this.productsDetailArray.color_id.color_code
            }"
          >
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </span>
        </div>
        <span class="shareLabel">share</span>
        <mat-icon>share</mat-icon>
      </span>

      <div>
        <!-- <a  class="fa fa-facebook" (click)="openFacebook()" ></a> -->
        <!-- <a href="https://www.facebook.com/sharer/sharer.php?u=#url" class="fa fa-facebook"></a> -->
        <a
          href="https://www.facebook.com/sharer/sharer.php?u=URLENCODED_URL&t=TITLE"
          class="fa fa-facebook"
          target="_blank"
          title="Share on Facebook"
        >
        </a>

        <a
          class="fa fa-google"
          href="https://accounts.google.com/"
          target="_blank"
          title="Go to google"
        ></a>
        <a class="fa fa-whatsapp"
          href="https://wa.me/"
          target="_blank"
          title="Go to whatspp"></a>
        <a class="fa fa-pinterest"
            href="http://pinterest.com/pin/create/button/?url=/node/[nid]&description=[title]"
            target="_blank"
          title="Go to pinterest"
        >
        </a>
        <a class="fa fa-twitter" 
        href="https://twitter.com/"
          target="_blank"
          title="Go to twitter"
          >

        </a>
      </div>
      <div style="margin-top: 20px;">
        <button mat-raised-button style="background-color:#00acee" (click)="addtoCart(productsDetailArray)">
          ADD TO CART
        </button>
        <button
          mat-raised-button
          style="margin-left:30px;background-color:#754b10"
          (click)="openDialog()"
        >
       
          RATE THE PRODUCT
        </button>
      </div>
      <!-- <button  class="socialbtn" sharebutton="facebook" > -->

      <!-- <button  class="socialbtn sb-facebook" sharebutton="facebook" aria-label="Share on Facebook"
        style="button-color:#4267B2; background-color: rgb(66, 103, 178);"><i 
          class="fab fa-facebook-f" id="icon"></i></button> -->

      <!-- </button> -->
    </div>
  </div>
</div>

<div class="container ">
  <!-- <div class="row"> -->
  <!-- <div class="col-md-12"> -->
  <mat-tab-group>
    <mat-tab label="Description" style="align-content:left;">
      {{ this.productsDetailArray.product_desc }}
    </mat-tab>
    <mat-tab label="Features">
      <div>Dimensions:{{ this.productsDetailArray.product_dimension }}</div>
      <div>Materia:{{ this.productsDetailArray.product_material }}</div>
      <div>Manufacturer:{{ this.productsDetailArray.product_producer }}</div>
    </mat-tab>
  </mat-tab-group>
  <!-- </div> -->
  <!-- </div> -->
</div>
