.card {
    margin-top: 0px;
    background: #eee;
    padding: 3em;
    line-height: 1.5em;
  }
  
  @media screen and (min-width: 997px) {
    .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
  .preview {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  @media screen and (max-width: 996px) {
    .preview {
      margin-bottom: 20px;
    }
  }
  
  .preview-pic {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }
  
  .tab-content {
    overflow: hidden;
  }
  
  .tab-content img {
    width: 100%;
    -webkit-animation-name: opacity;
    animation-name: opacity;
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
  }
  
  .my-img {
    height: 250px;
    width: 350px;
    position: relative;
    margin: 0 auto;
  }
  
  .my-img-thumb img {
    height: 80px;
    /*width: 80px;*/
    position: relative;
    margin: 0 auto;
    width: 80px;
    max-height: 65px;
    min-height: 65px;
  }
  
  .actual-img {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
  }
  
  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 0 px;
    text-align: center;
    margin-left: 80px;
  }
  
  .preview-thumbnail.nav-tabs li {
    width: 24%;
    margin-right: 2.5%;
    text-align: center;
  }
  
  .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block;
    text-align: center;
    object-fit: cover;
  }
  
  .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0;
    height: 80px;
  }
  
  .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0;
    text-align: center;
  }
  
  .color {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    height: 2em;
    width: 2em;
    border-radius: 2px;
  }
  
  .color:first-of-type {
    margin-left: 4px;
  }
  
  .width-box {
    width: 100px;
  }
  
  .bt-color {
    background: #EA572D;
    border-color: #777783;
  }
  
  .caption {
    padding: 10px 0 0 10px;
  }
  
  hr {
    border-top: 1px solid rgba(162, 152, 152, 0.56);
  }
  .action {
    padding: 10px 0 10px 0;
  
  }
  
  .share-container {
    display: flex;
    align-items: center;
    margin: 1rem 0;
   }


    .div1 {
      width: 80px;
      height: 30px;
      border: 1px solid;
    }

    .shareLabel {
      vertical-align: 6px;
      font-size: 20px;
      margin-top: 50px;
  }
  
.PriceDiv{
  font-size: 20px;
  margin-right: 20px;

}

.fa {
  padding: 20px;
  font-size: 15px;
  width: 59px;
  text-align: center;
  padding-left: 16px;
  text-decoration: none;
  border-radius: 70%;
  margin:5px
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-whatsapp {
  background: green;
  color: white;
}
.imageID{
  height:200px;
  width:450px;
  
}

/* .imageID:hover{
  transform: scale(1.2);

} */