<div>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row login-form">
      <div class="col mt-5" style="border-right: 2px solid black;">
        <div class="text-center social-btn">
          <a class="btn btn-primary btn-block"><i class="fa fa-facebook"></i> Sign in with <b>Facebook</b></a>
          <a href="#" class="btn btn-info btn-block"><i class="fa fa-twitter"></i> Sign in with <b>Twitter</b></a>
          <a href="#" class="btn btn-danger btn-block"><i class="fa fa-google"></i> Sign in with <b>Google</b></a>
        </div>
      </div>

      <div class="col mt-5">
        <div class="form-group">
          <h3>Login to NeoStore</h3>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">

              <input type="email" class="form-control" name="email" placeholder="email" required="required"
                formControlName="email">
            </p>

          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
              <input type="password" class="form-control" name="password" placeholder="Password"
                formControlName="password" required="required">
            </p>

          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-success btn-block login-btn">Sign in</button>
        </div>
      </div>
      <div class="col-md-12" style="text-align: center;">
        <a routerLink="register">Register Now</a>
        &nbsp;&nbsp;|&nbsp;
        <a routerLink="recoverpassword">Forgetten? </a>
      </div>
    </div>
  </form>

</div>




<!-- <h1 style="text-align:center">
    Angular Login Example
  </h1>
  <div class="login">
    
    <form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" placeholder="Email" formControlName="email">
      </p>
  
      <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
      </div>
  
      <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
      </p>
  
      <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
      </div>
  
      <p>
        <input type="submit" value="Log in">
      </p>
    </form>
  </div>
   -->
