<div>
  <mat-horizontal-stepper class="wrapper">
    <mat-step [stepControl]="cartdetails">
      <ng-template matStepLabel>Cart</ng-template>
      <div *ngIf="isdata; else isNodata">

        <!-- <mat-card class="mainDiv"> -->

        <!-- <mat-grid-list cols="6">
          <mat-grid-tile [colspan]="4">
            <mat-card
              style="width: 84%; box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);"> -->
        <div class="container-fluid">

          <div class="row">

            <div class="col-md-7 mat-elevation-z8" style="width: 100%;height: 100%;margin: 4px;">

              <table class="table">
                <thead>
                  <tr>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let c of cartDetails">
                    <td>
                      <div class="row">
                        <div class="col-md-2">
                          <img src="{{configUrl}}{{c.product_image}}" style="width:65px;height:65px" />
                        </div>
                        <div class="col-md-8 col-offset-4">
                          <div class="row">
                            <div class="col-md-12 ">
                              <h5>{{ c.product_name}}</h5>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <h6>{{ c.product_producer }}</h6>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">Status:</div>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <button mat-mini-fab (click)="decrement(c.product_id)" color="warn">-</button>
                      <input type="text" readonly id="counterval" [(ngModel)]="c.product_qty" placeholder="quantity"
                        style="width:30px;height:30px">
                      <button mat-mini-fab (click)="increment(c.product_id)" color="warn">+</button>
                    </td>
                    <td>
                      {{c.product_cost}}
                    </td>
                    <td>
                      {{c.product_qty*c.product_cost}}
                    </td>
                    <td>
                      <mat-icon id="deleteBtn" role="img" aria-hidden="true" (click)="deleteItem(c.product_id)">
                        delete_outline</mat-icon>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- </mat-card>
          </mat-grid-tile> -->
            <!-- <mat-grid-tile [colspan]="2">
            <mat-card style="width:100%"> -->
            <div class="col-md-4 ">
              <table class="table mat-elevation-z8">
                <thead>
                  <tr>
                    <th style="text-align: center;">
                      <h2>Review order</h2>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Subtotal</td>
                    <td>{{subtotal}}</td>
                  </tr>
                  <tr>
                    <td>GST(5%)</td>
                    <td>{{Gst}}</td>
                  </tr>
                  <tr>
                    <td>Order Total</td>
                    <td>{{orderTotal}}</td>
                  </tr>
                  <tr>
                    <td>
                      <button mat-raised-button color="primary" style="width:100% ;margin-left:32px"
                        matStepperNext>Proceed to
                        buy</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <!-- <h3>Review order</h3>
                <span>Subtotal</span>
                <span>GST</span>
                <span>Order Total</span> -->
        <!-- </mat-card>
          </mat-grid-tile>
        </mat-grid-list> -->

        <!-- <mat-card class="review"> -->

      </div>
      <ng-template #isNodata>
        <div class="isNodatadiv">
          <img style="width:18rem" src="assets\images\emptycart.png">
          <h2>YOUR CART IS CURRENTLY EMPTY</h2>
          <h4>Before proceed to checkout you must add some products to you shopping cart.</h4>
          <h4>You will find lots of intresting products on our products page</h4>
          <button routerLink="productList" mat-raised-button color="primary">Return to Product Page </button>
        </div>


      </ng-template>
    </mat-step>

    <mat-step [stepControl]="addressDetails">
      <ng-template matStepLabel>Address</ng-template>
      <mat-card style="width: 64%;margin-left: 20%;margin-top: 5%;">
        <h2>Addresses</h2>
        <div *ngFor="let data of AddressDetails ">
          <mat-card style="margin-bottom: 20px;">

            <div>
              {{data.address}}
            </div>
            <div>
              {{data.city}}
            </div>
            <div>
              {{data.country}}
            </div>
            <div>
              {{data.pincode}}
            </div>
            <div>
              {{data.state}}
            </div>

            <div>

              <mat-radio-button value="selectedAddr" id="select" required>select
              </mat-radio-button>

              <button mat-raised-button color="primary" style="margin-left:10px;" id="submitBtn"
                (click)="editAddress(AddressDetails)">
                Edit
              </button>
            </div>

          </mat-card>
        </div>
        <hr>

        <button mat-raised-button style="margin-left:10px;" routerLink="Address" routerLinkActive="active">
          Add Address
        </button>
        <button mat-raised-button style="margin-left:10px;" id="submitBtn" (click)="placeOrder()">
          Place Order
        </button>

      </mat-card>
    </mat-step>


  </mat-horizontal-stepper>
</div>
