#btn {
  padding: 0;
  display: inline-block;
  line-height: 0;
  width: 20px;
  height: 20px;
  outline: 0;
}

.isNodatadiv {
  min-height: 70vh;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.table {
  margin-top: 5px;

}

.review {
  display: inline-flex;
  width: 36%;
  padding: 16px;
  height: 255px;

}

.mainDiv {
  width: 60%;
  display: inline-flex;
}


#deleteBtn {
  font-size: 23px;
  color: #af1616;
  cursor: pointer;
}

.nodataDiv {
  width: 5%;
  text-align: center;

}

.mat-horizontal-stepper-content {
  width: 5%;
  text-align: center;
}

#left {
  margin-right: auto;
}

#right {
  float: right;
  margin-left: auto;
  display: block;
}

span {
  display: block;
  line-height: 2;
}
