



<!-- <app-product-detail></app-product-detail>  -->
<!-- <app-login></app-login> -->
<!-- <app-register> </app-register> -->
<!-- <app-header></app-header> -->


<!-- <app-loading></app-loading> -->
<app-header></app-header>
<!-- <app-login></app-login> -->
 <router-outlet style="min-height:200vh;"></router-outlet> 
 <app-loader></app-loader> 
 <app-footer></app-footer>
 
 


