/* .pagination - Pagination component container (ul element)
.pagination .page-item - All list items in the pagination component
.pagination .page-item .page-link - All pagination links including first, last, previous and next
.pagination .number-item - All page numbers (1, 2, 3 etc) pagination elements
.pagination .first-item - The 'First' pagination element
.pagination .last-item - The 'Last' pagination element
.pagination .previous-item - The 'Previous' pagination element
.pagination .next-item - The 'Next' pagination element */


.pagination{
    display: inline;
    align-content: center;
}

.colorBtn {
    min-width: 0;
    width: 40px;
    padding: 0;
    height: 25px;
    border: 1px solid #000;
    outline-color: #000;
}
#allproductbtn{
    width: 252px;
    margin-top: 30px;


}

.topLine{
    margin-top:2em
}
#sortBtn{
    color: #36b;
}