<hr class="topLine">
<div class="wrapper">
  <div class="container ">
    <div class="row">
      <div class="col-md-3" style="text-align:center">
        <!-- <h4 class="text-center ">Popular products</h4> -->
        <button mat-raised-button id="allproductbtn" (click)="getAllProducts()">Popular products</button>

        <mat-nav-list>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Categories
            </mat-expansion-panel-header>
            <div *ngFor="let c of categoriesDetailsArray"  >
              <a mat-list-item id="category" routerLink="productList/:id/:name"
                (click)="loadCategoryDatabyId(c.category_id,c.category_name)">{{c.category_name}}</a>
              <!-- <a mat-list-item routerLink>Bed</a>
                  <a mat-list-item routerLink>Chair</a>
                  <a mat-list-item routerLink>Table</a>
                  <a mat-list-item routerLink>Almarih</a> -->
            </div>
          </mat-expansion-panel>
        </mat-nav-list>
        <mat-nav-list>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              Color
            </mat-expansion-panel-header>

            <!-- <a mat-list-item routerLink>Sofa</a>
                      <a mat-list-item routerLink>Bed</a>
                      <a mat-list-item routerLink>Chair</a>
                      <a mat-list-item routerLink>Table</a>
                      <a mat-list-item routerLink>Almarih</a> -->

            <mat-list>
              <div class="row">
                <div class="col-md-4" *ngFor="let data of colorCategory">
                  <button class="colorBtn mat-button" (click)="loadProductbyColor(data.color_id)"
                    [ngStyle]="{'background-color': data.color_code}"></button>

                </div>
              </div>
            </mat-list>
          </mat-expansion-panel>
        </mat-nav-list>

      </div>


      <div class="col-md-9">
        <div class="row">
          <div class="col-md-12">
            <h3 style="display: inline-block;">{{CategoryName}}</h3>
            <span style="float:right;margin-left:auto;font-size:20px;padding-top: 15px;">
              Sort by:
              <button mat-button id="sortBtn" (click)="getSortProducts('product_rating','')">
                <!-- <span class="mat-button-wrapper"> -->
                <mat-icon class="mat-icon">
                  star_rate
                </mat-icon>

                <!-- </span> -->
              </button>
              <button mat-button id="sortBtn" (click)="getSortProducts('product_rating',true)">
                <!-- <span class="mat-button-wrapper"> -->
                <mat-icon class="mat-icon notranslate  material-icons mat-icon-no-color">
                  arrow_upward
                </mat-icon>

                <!-- </span> -->
              </button>
              <button mat-button id="sortBtn" (click)="getSortProducts('product_rating',false)">
                <!-- <span class="mat-button-wrapper"> -->
                <mat-icon>
                  arrow_downward
                </mat-icon>

                <!-- </span> -->
              </button>
            </span>
          </div>
        </div>
        <div *ngIf="isdata; else isNodata">
          <div class="col-md-4" *ngFor="let data of pageOfItems">


            <mat-card class="example-card mat-card" style="margin-top:10px">


              <img mat-card-image style="height:120px;width:100%;margin-left: auto;margin-right: auto;margin-top: 5px"
                src="{{configUrl}}{{data.product_image}}">

              <mat-card-content style="text-align: center;">
                <h5><label id="labelName" routerLink="productDetail/:id" (click)="getProductDetail(data.product_id)">
                    {{data.product_name}} </label></h5>
                <label id="priceTag"> <span>&#8377;</span><b>{{data.product_cost}}</b></label>
                <div>
                  <button color="warn" id="addToCartBtn" mat-raised-button="" class="mat-raised-button mat-warn"
                    (click)="addtoCart(data)"><span class="mat-button-wrapper" style="font-size: 10px;"> Add To
                      Cart</span>
                    <div class="mat-button-ripple mat-ripple" matripple=""></div>
                    <div class="mat-button-focus-overlay"></div>
                  </button>

                </div>


                <div id="rating">

                  <star-rating value="{{data.product_rating}}" checkedcolor="orange" uncheckedcolor="black" size="13px"
                    readonly="true" :star-size="4px" :increment="0.01"></star-rating>


                </div>
              </mat-card-content>

            </mat-card>
          </div>



          <div class="col-md-12">
            <div class="card-footer pb-0 pt-3">
              <jw-pagination style="align-content:center;" [items]="Categories" (changePage)="onChangePage($event)">
              </jw-pagination>
            </div>
          </div>
        </div>
        <ng-template #isNodata>
          <img src="assets\images\no-product.png" style="width: 100%;">
        </ng-template>

      </div>
    </div>
  </div>
</div>
