.container {
  text-align: center !important;
  /* margin-top: 200px; */
  font-size: 76px;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center
}

.h1div {
  font-size: 76px;
  font-weight: 900;
  /* margin-top: 50px; */

}
