<div class="container">
  <div>
    <h1 class="h1div">Thank you for your order</h1>
    <h6>Your order has been placed and is being processed</h6>
    <a routerLink="">
      <h5><b><u>Back to homepage</u></b></h5>
    </a>
  </div>

  <a routerLink=""></a>

</div>
