
<h1 mat-dialog-title >Rate  product</h1>
<div mat-dialog-content>

  <!-- <mat-form-field> -->
        <star-rating
      value="4"
      (rate)="onRate($event)"
        checkedcolor="orange"
        uncheckedcolor="black"
        size="15px"
        readonly="false"
        :star-size="4px"
        :increment="0.01"
      ></star-rating>
    <!-- <input matInput [(ngModel)]="data.animal">
  </mat-form-field> -->
</div>
<div mat-dialog-actions>

  <button  mat-button [mat-dialog-close]="this.data.rate" > Done</button>
</div>


