.mat-dialog-title {
    margin: 21px 90px 20px;
    display: block;
 
    align-content: center;
}
.mat-dialog-content{
    padding-left: 42%;

}


.mat-dialog-actions {
  margin-left:39%;
    min-height: 61px;
    align-items: center;
    margin-bottom: -24px;
}