<!-- <div class="container"> -->
<!-- <div class="row">
         <div class="col">
             <img  class="d-block imgControl " src="assets/images/carousel1.jpg"> -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item" [ngClass]="{ 'active': i === 0 }" *ngFor="let c of categoriesDetailsArray; let i = index">
      <img routerLink="productList/:id/:name" (click)="goToProductList(c.category_id,c.category_name)"
        src="assets/CategoriesCarousel/{{c.product_image}}" class="d-block w-100" style="height:500px;width:100%;">
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12" style="text-align:center">
        <h4 class="text-center ">Popular products</h4>
        <a routerLink="productList" routerLinkActive="active" class="mat-button"><span class="mat-button-wrapper">View
            All</span>
        </a>
      </div>

      <div class="row">
        <div class="col-md-3" *ngFor="let data of topRatedproductsArray">
          <mat-card class="example-card mat-card" style="margin-top:10px">

            <!-- <img mat-card-image src="assets/images/chair.jpeg" > -->
            <img mat-card-image style="height:120px;width:100%;margin-left: auto;margin-right: auto;margin-top: 5px"
              src="{{configUrl}}{{data.DashboardProducts[0].product_image}}">

            <mat-card-content style="text-align: center;">
              <h5><label id="labelName" routerLink="productDetail/:id"
                  (click)="goToProductDetail(data.DashboardProducts[0].product_id)" routerLinkActive="active">
                  {{data.DashboardProducts[0].product_name}} </label></h5>
              <label id="priceTag"> <span>&#8377;</span><b>{{data.DashboardProducts[0].product_cost}}</b></label>
              <div>
                <button color="warn" id="addToCartBtn" mat-raised-button="" class="mat-raised-button mat-warn"
                  (click)="addtoCart(data.DashboardProducts[0])"><span class="mat-button-wrapper"
                    style="font-size: 10px;"> Add To Cart</span>
                  <div class="mat-button-ripple mat-ripple" matripple=""></div>
                  <div class="mat-button-focus-overlay"></div>
                </button>
              </div>


              <div id="rating">
                <!-- <ngx-stars >
                <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
                  rel="stylesheet">
                <div class="stars-line"><i aria-hidden="true" class="zero-star fa fa-star"></i>
                  <div class="ng-star-inserted"><i aria-hidden="true" class="fa fa-star"
                      style="color: rgb(255, 165, 52); margin-right: 0.5rem;"></i></div>
                  <div class="ng-star-inserted"><i aria-hidden="true" class="fa fa-star"
                      style="color: rgb(255, 165, 52); margin-right: 0.5rem;"></i></div>
                  <div class="ng-star-inserted"><i aria-hidden="true" class="fa fa-star"
                      style="color: rgb(255, 165, 52); margin-right: 0.5rem;"></i></div>
                  <div class="ng-star-inserted"><i aria-hidden="true" class="fa fa-star"
                      style="color: rgb(255, 165, 52); margin-right: 0.5rem;"></i></div>
                  <div class="ng-star-inserted"><i aria-hidden="true" class="fa fa-star-half-o"
                      style="color: rgb(255, 165, 52); margin-right: 0.5rem;"></i></div>
                </div>
              </ngx-stars>  -->
                <star-rating value="{{data.DashboardProducts[0].product_rating}}" checkedcolor="orange"
                  uncheckedcolor="black" size="13px" readonly="true" :star-size="4px" :increment="0.01"></star-rating>

              </div>
            </mat-card-content>
            <!-- <mat-card-actions>
              
                <span >{{data.DashboardProducts[0].product_rating}}</span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
              
              </mat-card-actions> -->
          </mat-card>
        </div>
        <!-- <div class="col-md-4 ">
        <mat-card class="example-card mat-card" style="margin-top:10px">
          
          <img mat-card-image src="assets/images/chair.jpeg" >
          <mat-card-content>
            <p>
              RjKart Solid Sheesham chair
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add to cart</button>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
          
          </mat-card-actions>
        </mat-card>
      </div> -->
        <!-- <div class="col-md-4 ">
        <mat-card class="example-card mat-card" style="margin-top:10px">
          
          <img mat-card-image src="assets/images/chair.jpeg" >
          <mat-card-content>
            <p>
             NeelKamal Freedom Almirah
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add to cart</button>
           
          </mat-card-actions>
        </mat-card>
      </div> -->
        <!-- <div class="col-md-4 ">
        <mat-card class="example-card mat-card" style="margin-top:10px">
          
          <img mat-card-image src="assets/images/chair.jpeg" >
          <mat-card-content>
            <p>
              Robert Recliner Sofa set 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add to cart</button>
            
          </mat-card-actions>
        </mat-card>
      </div> -->
        <!-- <div class="col-md-4 ">
          <mat-card class="example-card mat-card" style="margin-top:10px">
          
            <img mat-card-image src="assets/images/chair.jpeg" >
            <mat-card-content>
              <p>
               MemeHo Smart
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>Add to cart</button>
             
            </mat-card-actions>
          </mat-card>
      </div> -->
        <!-- <div class="col-md-4 ">
        <mat-card class="example-card mat-card" style="margin-top:10px">
          
          <img mat-card-image src="assets/images/chair.jpeg" >
          <mat-card-content>
            <p>
             King Size wood set 
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Add to cart</button>
          
          </mat-card-actions>
        </mat-card>
      </div> -->
      </div>
    </div>
  </div>

</div>
