.imgControl {
    margin-top: 50px;
    width: 100%;
    height: 400px ;
  }
  
  .coltextstyle{
      padding-top: 20px;
  padding-left: 70px;
      font-size: 20px;
  }

  .example-card {
    max-width: 200px;
    height: 300px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .checked{
    color: orange;
  }
  #priceTag{
    position: absolute;
    top: 70%;
    left: 38%;
  }
  #addToCartBtn {
    float: right;
    height: 25px;
    line-height: 0;
    width: 141px;
    text-align: center;
    font-size: 10px;
    padding: 8px;
    position: absolute;
    top: 80%;
    left: 20%;
}
  .Cardcontent{
    align-content: center;
  }
  #labelName {
    color: #36b;
    align-content: center;
    align-self: auto;
    box-sizing: border-box;
}
#rating {
  position: absolute;
  top: 93%;
  left: 27%;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}