<div class="mainDiv">
  <div>
    <h4>My Account</h4>
  </div>
  <hr>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div>
          <img id="profilePic" rounded src="assets/images/profile-placeholder.png">
        </div>
        <div>
          <h4 style="margin-left:30%;">mohini patil</h4>
          <mat-list>
            <mat-list-item>
              <button mat-button id="navBtn">
                <mat-icon>notes</mat-icon>
                orders
              </button>
            </mat-list-item>
            <mat-list-item>
              <button mat-button id="navBtn">
                <mat-icon>account_box</mat-icon>
                Profiles
              </button>
            </mat-list-item>
            <mat-list-item>
              <button mat-button id="navBtn">
                <mat-icon>library_books</mat-icon>
                Addresses
              </button>
            </mat-list-item>
            <mat-list-item>
              <button mat-button id="navBtn" routerLink="changePassword">
                <mat-icon>
                  swap_horiz
                </mat-icon>
                Change Password
              </button>
            </mat-list-item>
          </mat-list>

        </div>
      </div>
      <div class="col-md-9">

        <!-- <div id="profile">
          <mat-card>
              <h4>Profile</h4>
              <hr>
              <table>
                <tr>
                  <td>
                    <h5>First Name</h5>
                  </td>
                  <td style="padding-left:10px">Mohini</td>
                </tr>
                <tr>
                  <td>
                    <h5>Last Name</h5>
                  </td>
                  <td style="padding-left:10px">Patil</td>
                </tr>
                <tr>
                  <td>
                    <h5>Gender</h5>
                  </td>
                  <td style="padding-left:10px">Female</td>
                </tr>
                <tr>
                  <td>
                    <h5>Date of birth</h5>
                  </td>
                  <td style="padding-left:10px">00-00-00</td>
                </tr>
                <tr>
                  <td>
                    <h5>Mobile Number</h5>
                  </td>
                  <td style="padding-left:10px">9878654567</td>
                </tr>
                <tr>
                  <td>
                    <h5>Email </h5>
                  </td>
                  <td style="padding-left:10px">jhh@gmail.com</td>
                </tr>
              </table>
              <hr>
              <button>
                Edit
                <mat-icon>edit</mat-icon>
    
              </button>
    
    
            </mat-card>
       </div> -->

        <!-- <div id="Address">
          <mat-card style="width: 64%;margin-left: 20%;margin-top: 5%;">
            <h2>Addresses</h2>
            <div *ngFor="let data of AddressDetails ">
              <mat-card style="margin-bottom: 20px;">

                <div>
                  {{data.address}}
                </div>
                <div>
                  {{data.city}}
                </div>
                <div>
                  {{data.country}}
                </div>
                <div>
                  {{data.pincode}}
                </div>
                <div>
                  {{data.state}}
                </div>

                <div>

                  <mat-radio-button value="selectedAddr" id="select" required>select
                  </mat-radio-button>

                  <button mat-raised-button color="primary" style="margin-left:10px;" id="submitBtn"
                    (click)="editAddress(AddressDetails)">
                    Edit
                  </button>
                </div>

              </mat-card>
            </div>
            <hr>

            <button mat-raised-button style="margin-left:10px;" routerLink="Address" routerLinkActive="active">
              Add Address
            </button>
            <button mat-raised-button style="margin-left:10px;" id="submitBtn" (click)="placeOrder()">
              Place Order
            </button>

          </mat-card>
        </div> -->

        <div id="orders">
          <mat-card *ngFor="let data of orderdetails ">
            <span style="color: #CB7C13; font-weight: 600">TRANSIT</span>
            &nbsp;
            <span>Order By : {{data._id}}</span>
            <br>
            <span id="orderDetails">
              Placed on:&nbsp;&nbsp;/&nbsp;<label id="priceLabel">₹157499</label></span>
            <hr>
            <div class="row">
              <div class="col-md-3">

              </div>

            </div>


          </mat-card>

        </div>
      </div>


    </div>

  </div>

</div>
