.mainDiv {
  width: 70%;
  margin-left: 15%;
  margin-top: 2%;
  margin-bottom: 20%;
}

#profilePic {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#navBtn {
  width: 100%;
  color: #36b;
}
