<!--Facebook-->
<div style="align-content: center;padding-top:70px;">
  <a href="#" class="fa fa-facebook">&nbsp;&nbsp;&nbsp;Login with Facebook</a>
  <a href="#" class="fa fa-google">&nbsp;&nbsp;&nbsp;Login with Google</a>
</div>


<hr />
<form [formGroup]="RegisterForm">
  <mat-card class="mat-card">
    <div class="card-content">
      <!-- <mat-card-content class="card-content"> -->

      <table>
        <tr>
          <td>
            <h1>
              <p>Register to NeoStore</p>
            </h1>
          </td>
        </tr>
        <tr>
          <td>

            <mat-form-field appearance="outline" class="tableDiv">
              <mat-label>FirstName</mat-label>

              <input matInput placeholder="Placeholder" name="fname" id="fname" formControlName="fname" required />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td class="tableDiv">
            <!-- <mat-form-field class="example-full-width" appearance="outline">
                        <input matInput placeholder="Username" [(ngModel)]="username" name="username" required>
                      </mat-form-field> -->
            <mat-form-field appearance="outline" class="tableDiv">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="Placeholder" name="lname" id="lname" formControlName="lname" required />
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>
          </td>
        </tr>

        <tr>
          <td>
            <mat-form-field appearance="outline" class="tableDiv">
              <mat-label>Email Address</mat-label>
              <input matInput placeholder="Placeholder" name="email" id="email" formControlName="email" required />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="tableDiv">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Placeholder" name="pass" id="pass" formControlName="pass" required />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field appearance="outline" class="tableDiv">
              <mat-label>Confirm Password</mat-label>
              <input matInput placeholder="Placeholder" name="passconfirm" id="passconfirm"
                formControlName="passconfirm" required />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <!-- <mat-form-field class="example-full-width">
                            <input matInput placeholder="Mobile Number"  name="mobilenumber" required>
                          </mat-form-field> -->

            <mat-form-field appearance="outline" class="tableDiv">
              <mat-label>Mobile Number</mat-label>
              <input matInput placeholder="Placeholder" name="Contactnumber" id="Contactnumber"
                formControlName="Contactnumber" required />
              <!-- <mat-icon matSuffix>sentiment_very_satisfied</mat-icon> -->
              <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <mat-radio-group aria-label="Select an option" formControlName="gender" required>
              <mat-radio-button value="male">Male</mat-radio-button>
              <mat-radio-button value="female">Female</mat-radio-button>
            </mat-radio-group>
          </td>
        </tr>
      </table>

      <mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
      <!-- </mat-card-content> -->
      <mat-card-actions>
        <button mat-raised-button style="align-content: center;" [disabled]="!RegisterForm.valid" (click)="onSubmit()"
          color="primary" id="submitBtn">
          Register
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</form>
