.form-custom .form-custom-heading,
.form-custom .checkbox {
  margin-bottom: 10px;
}

.form-custom .checkbox {
  font-weight: normal;
}

.form-custom .form-control {
  position: relative;
  height: 50px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-custom .form-control:focus {
  z-index: 2;
}

.form-custom input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-custom input[type="password"] {
  margin-bottom: -1px;
  border-radius: 0px;
}

.form-custom input[type="number"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-default>.panel-heading {
  background-color: #fff;
  border-color: #fff;
}

.panel {
  box-shadow: 0px 0px 19px 2px rgba(119, 119, 119, 0.4);
  border: 0px solid transparent;
}

.container-register {
  display: flex;
  justify-content: center;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gender-legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
  margin-bottom: 0;
  font-size: inherit;
  width: auto;
  border: none;
}


/*After validation field becomes red*/
.error {
  border: solid 1px red;
  background-color: #ffe6e6
}

#socialBt1 {
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  background-color: #3b5998;
}

.formbox {
  border: 2px solid black;
  /* outline: #4CAF50 solid 10px; */
  margin-left: 10%;
  padding: 5px;
  margin-top: 5%;
  margin-right: 10%;
  text-align: center;
}

/* .innerForm{
  margin-left: 80px;  
  margin-right: 70px;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-left: 80px;
  padding-right: 50px;

} */
.example-form {
  padding-left: 40%
}

.card-content {
  /* margin-left: 25%;  */
  /* margin-right: auto;  */
  display: block;
  text-align: left;
  width: 100%
}

.mat-card {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50%;
  height: 50%;


}

.tableDiv {
  margin: 0px;
  width: 100%
}

td,
tr,
table {
  margin: 0px;
  width: 100%
}

.fa {
  padding: 20px;
  font-size: 30px;

  /* width: 50px; */
  /* //text-align: center; */
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  width: 15%;
  font-size: 20px;
  margin-right: 1%;
  margin-left: 30%;
  border-radius: 7px;

}

.fa-google {
  background: #dd4b39;
  color: white;
  width: 15%;
  font-size: 20px;
  margin-left: 2%;
  margin-right: 5%;
  border-radius: 7px;
}

.mat-radio-button~.mat-radio-button {
  margin-left: 16px;
}
